{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Lukyanov | Security Specialist</title>
    <link rel="stylesheet" href="{% static 'landing/styles.css' %}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<script>
        // JavaScript to dynamically update the date and time
        function updateDateTime() {
            const dateTimeElement = document.getElementById("date-time");
            const now = new Date();
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' };
            dateTimeElement.textContent = now.toLocaleString('en-US', options);
        }
        // Update the date and time every second
        setInterval(updateDateTime, 1000);
        window.onload = updateDateTime; // Set initial time on page load
    </script>
</head>
<body>
   <header>
        <h1><a href="/">Alex Lukyanov</a></h1>
        <h2>"Your Gateway to Global Security Trends - Updated WEEKLY"</h2>
    </header>
   <nav>
        <ul>
            <li><a href="?category=cloud&article=article1">Cloud Security: Trends</a></li>
            <li><a href="?category=software&article=article1">Software Security: Trends</a></li>
            <li><a href="?category=network&article=article1">Network Security: Trends</a></li>
            <li><a href="?category=devops&article=article1">DevOps Security: Trends</a></li>
            <li><a href="?category=crypto&article=article1">Crypto Security: Trends</a></li>
            <li><a href="?category=netops&article=article1">NetOps Security: Trends</a></li>
            <li><a href="?category=ai&article=article1">AI Security: Trends</a></li>
        </ul>
    </nav>
     <main>
        <!-- Render the dynamically loaded article content here -->
        <h1>Top Security Trends : Embracing Innovation for Resilient Systems</h1>
        {{ article_content|safe }}
    </main>
    <footer>
        <p>&copy; 2024 Alex Lukyanov | <a href="https://www.linkedin.com/in/alex-lukyanov/" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
         <!-- Date and Time Display -->
    <div id="date-time" class="date-time"></div>
    </footer>
</body>
</html>